body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    width: 500px;
    height: 500px;
    display: grid;
    border: 1px solid black;
    justify-content: center;
}

.grid{
    border: 1px solid black;
    display: flex;
}

.black{
    background-color: black;
}

.gridSize{
    width: 100px;
    height: 20px;
    margin-bottom: 10px;
    border: 1px solid black;
    
}

.submit{
    background-color: greenyellow;

}
